<app-header ></app-header>
<h1>Operators registration form</h1>

<div>   

    <p>
        <mat-form-field>
          <mat-select placeholder="Country">            
            <mat-option value="option">Country list</mat-option>
          </mat-select>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your name</mat-label>
        <input matInput>          
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your organization</mat-label>
          <input matInput>          
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your e-mail adress</mat-label>
          <input matInput>          
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p> 

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput>          
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p> 

    <p>
        <mat-form-field>
          <mat-select placeholder="Task">            
            <mat-option value="option">Vendor regestration</mat-option>
            <mat-option value="option">Scratch card desk</mat-option>
            <mat-option value="option">Hotline</mat-option>
            <mat-option value="option">Inspection</mat-option>
          </mat-select>
        </mat-form-field>
    </p>
    <button mat-button color="primary">OK</button>
</div>  