.header{
    width: 100%;
    height: 70px;
    background-color: #3F3F3F;
    border-top: 2px solid #C9C2C2;
    border-bottom: 2px solid #C9C2C2;
}
.logo{
    color: #C9C2C2;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
    margin-left: 20%;
    width: 800px;
    display: block;
}
.nameOfUser{
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px;
    width: 60px;
    position: relative;
    top: -60px;
}

.button{
    float: right;    
}