.header{
    width: 100%;
    height: 70px;
    background-color: rgba(63, 63, 63, 0.74);
    border: 2px solid #C9C2C2;
    border-radius: 20px;
    margin: 0px 0px;
}

.logotype{
    background: no-repeat url('../../../assets/images/logotype.png');
    width: 280px;
    height: 100%;
    margin-left: 10px;
}
.logotype:hover{
    cursor: pointer;
}
.nameOfUser{
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px;
    position: relative;
    top: -65px;
}

.button{
    float: right;    
}
.view_btn{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.623);
}
.view{    
    float: right;
    position: relative;
    top: -51px;
    margin: 0 10px 0 10px;
}