<div class="wrapper"> 
  <app-header ></app-header>
  

  <div class="center_wrapper">
      <h3>NPC registration form</h3>
    <div>   

        <p>
            <mat-form-field>
              <mat-select placeholder="Country" #country>            
                <mat-option value="option">Country list</mat-option>
              </mat-select>
            </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your name</mat-label>
            <input matInput #name [formControl]="userInput.name" (change)="checkForm()">          
            <mat-error *ngIf="userInput.name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your organization</mat-label>
              <input matInput #organization [formControl]="userInput.organization" (change)="checkForm()">          
              <mat-error *ngIf="userInput.organization.invalid">{{getErrorMessageOrganization()}}</mat-error>
            </mat-form-field>
        </p>
      
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your mailing adress</mat-label>
              <input matInput #mailing [formControl]="userInput.mailing" (change)="checkForm()">          
              <mat-error *ngIf="userInput.mailing.invalid">{{getErrorMessageMailing()}}</mat-error>
            </mat-form-field>
        </p>  

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your phone number</mat-label>
              <input matInput #phone [formControl]="userInput.phone" (change)="checkForm()">          
              <mat-error *ngIf="userInput.phone.invalid">{{getErrorMessagePhone()}}</mat-error>
            </mat-form-field>
        </p> 

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your e-mail adress</mat-label>
              <input matInput #email [formControl]="userInput.email" (change)="checkForm()">          
              <mat-error *ngIf="userInput.email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
        </p> 

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input matInput #password [formControl]="userInput.password" (change)="checkForm()" [type]="hide ? 'password' : 'text'"> 
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>         
              <mat-error *ngIf="userInput.password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
        </p> 
        <button mat-button [disabled]="isShowSubmitBtn" color="primary" (click)="submit(country.value, name.value, organization.value, mailing.value, phone.value, email.value, password.value)">OK</button>

    </div>
  </div> 
</div> 