<div class="wrapper"> 
  <app-header ></app-header>
  

  <div class="center_wrapper">
      <h3>NPC registration form</h3>
    <div>   

        <p>
            <mat-form-field>
              <mat-select placeholder="Country">            
                <mat-option value="option">Country list</mat-option>
              </mat-select>
            </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your name</mat-label>
            <input matInput>          
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your organization</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
      
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your mailing adress</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>  

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your phone number</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p> 

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your e-mail adress</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p> 

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p> 
        <button mat-button color="primary">OK</button>

    </div>
  </div> 
</div> 