.main{
    margin: 0px 0px;
    background-image: url('../../../assets/images/home.jpg');
    background-repeat: vertical;
    background-size: 100% 100%;
   
    width:100%;
    min-height: 1000px;
}

button{
    background-color: rgba(238, 234, 234, 0.904);
}

.start_block{
    width: 80%;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgba(24, 6, 6, 0.781);
    color: white;
    margin: 20px auto;
    text-align: center;
}
.title{
    font-size: 30px;
    margin-left: 160px;
}

.admin_panel{
    width: 90%;
    margin: 15px auto;
    min-height: 50px;
    border: 1px solid white;
    background-color: rgba(15, 11, 11, 0.829);
    border-radius: 8px;

}
.countries{
    width: 20%;
    min-height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(112, 110, 110, 0.829);
    margin: 10px 2.5%;
    float: left;
    color: white;
}
.food_group{
    width: 20%;
    min-height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(112, 110, 110, 0.829);
    margin: 10px 2.5%;
    float: left;
    color: white;
}
.organization{
    width: 20%;
    min-height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(112, 110, 110, 0.829);
    margin: 10px 2.5%;
    float: left;
    color: white;
}
.questions{
    width: 20%;
    min-height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(112, 110, 110, 0.829);
    margin: 10px 2.5%;
    float: left;
    color: white;
}
p{
    color: white;
    text-decoration: underline;
    text-align: center;
}
.delete_btn{
    color: red;
}
.delete_btn:hover{
    cursor: pointer;
}
input{
    width: 90%;
    margin: 15px auto;
}
.saveChangesBtn{
    background-color: white;
    color: rgb(99, 99, 99);
    display: block;
    margin: 10px auto;
    border: 2px solid rgb(99, 99, 99);
}
.btn_group{
    width: 100%;
    min-height: 60px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(29, 28, 28, 0.795);    
    margin: 15px 0px;
}
.btn{
    display: inline-block;
    margin: 10px 10px;
}
.start_text{
    margin: 20px auto;
    width: 80%;
    border: 1px solid white;
    border-radius: 8px;
    min-height: 50px;
    background-color: rgba(31, 29, 29, 0.808);
    text-align: center;
    padding-top: 10px;
}
.contacts > li{
    color: white;
}
.contacts{
    text-align: left;
}
