<div class="main">
  <app-header></app-header>
  <button mat-button (click)="goToVendorRegistrationDesk()" *ngIf="userStatus">Vendor Registration Desk</button><br><br>
  <button mat-button (click)="goToScratchCardDesk()" *ngIf="userStatus">Scratch Card Desk</button><br><br>
  <button mat-button (click)="goToHotline()" *ngIf="userStatus">Hotline</button><br><br>
  <button mat-button (click)="goToInspectionDesk()" *ngIf="userStatus">Inspection Desk</button><br><br>
  <button mat-button (click)="goToReport()" *ngIf="userStatus">Report</button>



  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Angular Google</h2>
        <div class="form-group">
          <label for="place">Search Google</label>
          <input type="text" id="place" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="off">
        </div>
      </div>
    </div>
    
  </div>





</div>

<app-footer>  
</app-footer> 