<div class="main">
  <app-header></app-header>
  <button mat-button (click)="goToVendorRegistrationDesk()" *ngIf="userStatus">Vendor Registration Desk</button><br><br>
  <button mat-button (click)="goToScratchCardDesk()" *ngIf="userStatus">Scratch Card Desk</button><br><br>
  <button mat-button (click)="goToHotline()" *ngIf="userStatus">Hotline</button><br><br>
  <button mat-button (click)="goToInspectionDesk()" *ngIf="userStatus">Inspection Desk</button><br><br>
  <button mat-button (click)="goToReport()" *ngIf="userStatus">Report</button>



  <div>
    <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    <p>{{formattedAddress}}</p>
  </div>




</div>

<app-footer>  
</app-footer> 