<h1>Transaction form</h1>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Operator`s Name (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Transaction date (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>License number</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>vendors`n name (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<br>
<p>Здесь будет фотка вендора (fetched)</p>
<br>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Food group (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Quantity of cards</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>First card`s serial no.</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Cost per card</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="$">      
        <mat-option value="option">Currency list</mat-option>       
      </mat-select>
      </mat-form-field>
</p>