.form_wrapper{
    width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;  
    border: 2px solid rgb(111, 111, 129);
}
.wrapper{
    background-image: url('../../../../assets/images/background.jpeg');
    background-repeat: vertical;
    background-size: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.vendor_photo{
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    
}

button{
    background-color: rgb(74, 238, 74);  
    margin: 10px;  
}

img{
    width: 100%;
    height: 100%;
}
#title{
    width: 50%;
    position: relative;
    left: 25%;
    text-decoration: underline;
}