<div class="wrapper">
  <app-header></app-header>
  <div class="form_wrapper" #content>      
    <h3 id="title">Scratch card desk</h3>    
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Operator`s Name </mat-label>
        <input matInput disabled="true" [value]="vendorCardData.operatorName">          
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Date of registration" [formControl]="date" #dateVal>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>License number</mat-label>
        <input matInput #licenceNumber (change)="licenceCheck(licenceNumber.value)" [formControl]="userInput.licenceNumber" (change)="checkForm()">          
        <mat-error *ngIf="userInput.licenceNumber.invalid">{{getErrorMessageLicenceNumber()}}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vendors`n name </mat-label>
        <input matInput disabled="true" [value]="vendorCardData.name">          
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <br>

    <div class="vendor_photo" *ngIf="isShowPhoto"><img src="{{vendorCardData.photo}}" alt=""></div>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Food group </mat-label>
        <input matInput disabled="true" [value]="vendorCardData.foodGroup">          
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Quantity of cards</mat-label>
        <input matInput #cardQuantity [formControl]="userInput.quantityOfCard" (change)="checkForm()">          
        <mat-error *ngIf="userInput.quantityOfCard.invalid">{{getErrorMessageQuantityofCard()}}</mat-error>
      </mat-form-field>
    </p>  

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Cost per card</mat-label>
        <input matInput #cost [formControl]="userInput.cost" (change)="checkForm()" type="number" step="0.01" min="0" placeholder="0.00">          
        <mat-error *ngIf="userInput.cost.invalid">{{getErrorMessageCost()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="$" #money [formControl]="userInput.money" (blur)="checkForm()">      
          <mat-option value="USD">USD</mat-option>
          <mat-option value="RUR">RUR</mat-option>  
          <mat-option value="BUR">BUR</mat-option>         
        </mat-select>
        <mat-error *ngIf="userInput.money.invalid">{{getErrorMessageMoney()}}</mat-error>
      </mat-form-field>
    </p><br>

    <p *ngIf="isShowCost">Summary cost of cards:{{summaryCost}}</p><br>

    <button mat-button type="button" [disabled]="isShowSubmitBtn" (click)="submit(
      dateVal.value,
      licenceNumber.value,
      cardQuantity.value,
      cost.value,
      money.value)">OK!</button>
    <button mat-button type="button" *ngIf="isShowConvert" (click)="convert()">Create file to print</button>    
  </div>
</div>