<div class="wrapper">
  <app-header></app-header>
  <div class="list">
    <div class="form">
    
      <h3>Main profile information</h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name:</mat-label>
        <input matInput placeholder="Enter your name" value="{{user.name}}" disabled="{{disableName}}" #name>        
      </mat-form-field>
      <button mat-button color="primary" (click)="changeName()">&#9998;</button>
      <button mat-button color="primary" (click)="confirmNameChanges(name.value)" *ngIf="confirmNameBtn">Ок</button>          
    </form>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email:</mat-label>
          <input matInput placeholder="Enter your e-mail" value="{{user.email}}" disabled="{{disableEmail}}" #email>        
        </mat-form-field>
        <button mat-button color="primary" (click)="changeEmail()">&#9998;</button>
        <button mat-button color="primary" (click)="confirmEmailChanges(email.value)" *ngIf="confirmEmailBtn">Ок</button>          
      </form>

      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Country:</mat-label>
            <input matInput placeholder="Enter your country" value="{{user.country}}" disabled="{{disableCountry}}" #country>        
          </mat-form-field>
          <button mat-button color="primary" (click)="changeCountry()">&#9998;</button>
          <button mat-button color="primary" (click)="confirmCountryChanges(country.value)" *ngIf="confirmCountryBtn">Ок</button>          
        </form>

        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Phone:</mat-label>
              <input matInput placeholder="Enter your phone number" value="{{user.phone}}" disabled="{{disablePhone}}" #phone>        
            </mat-form-field>
            <button mat-button color="primary" (click)="changePhone()">&#9998;</button>
            <button mat-button color="primary" (click)="confirmPhoneChanges(phone.value)" *ngIf="confirmPhoneBtn">Ок</button>          
          </form>

          <button mat-button color="primary" (click)="changePassword()">Change password</button> 
        <form class="example-form" *ngIf="changePasswordBtn">
            <mat-form-field class="example-full-width">
              <mat-label>Enter your password:</mat-label>
              <input matInput type="password" #password1  value="">     
            </mat-form-field><br>   
            <mat-form-field class="example-full-width">
              <mat-label>Enter your password again:</mat-label>
              <input matInput type="password" #password2  value="">        
            </mat-form-field><br>  
            <button mat-button color="primary" (click)="saveChanges(password1.value, password2.value)" *ngIf="saveChangesBtn">Save changes</button>                    
         </form>

        

  </div> 
  </div>
</div>
