<div class="wrapper">
  <app-header></app-header>
  <div class="form_wrapper">

    <div class="view_vendors">
    <!-----------------------VIEW WENDORS------------------------------------------->      
      <h3>View vendors</h3>
      <p><mat-slide-toggle (click)="toggler()">Switch beetwen table or map modes</mat-slide-toggle></p>
      
      <!---*******************TABLE MODE**************************---> 
      <div class="table_mode" *ngIf="!toggle">
          <p>
              <mat-form-field appearance="outline">
              <mat-select placeholder="Country" #country>      
                <mat-option value="Russia">Russia</mat-option>
                <mat-option value="Belarus">Belarus</mat-option> 
                <mat-option value="Ukraine">Ukraine</mat-option>        
              </mat-select>
              </mat-form-field>  
            </p>
            
            <p>
                <mat-form-field appearance="outline">
                <mat-select placeholder="City" #city>      
                  <mat-option value="Minsk">Minsk</mat-option> 
         
                  <mat-option value="Gomel">Gomel</mat-option> 
                  <mat-option value="Brest">Brest</mat-option> 
                  <mat-option value="Grodno">Grodno</mat-option> 
                  <mat-option value="Mogilev">Mogilev</mat-option> 
                  <mat-option value="Vitebsk">Vitebsk</mat-option>        
                </mat-select>
                </mat-form-field>  
              </p>
              
              <p>
                  <mat-form-field appearance="outline">
                  <mat-select placeholder="Open/Closed" #openClosed>      
                    <mat-option value="option">Open</mat-option>
                    <mat-option value="option">Closed</mat-option>         
                  </mat-select>
                  </mat-form-field>  
                </p>
            
                <p>
                    <mat-form-field appearance="outline">
                    <mat-select placeholder="Food Group" #foodGroup>      
                      <mat-option value="Fruit">Fruit</mat-option>
                      <mat-option value="Meat">Meat</mat-option>  
                      <mat-option value="Fastfood">Fastfood</mat-option>        
                    </mat-select>
                    </mat-form-field>  
                  </p>
            
                  <p>
                      <mat-form-field appearance="outline">
                        <mat-label>OSS</mat-label>
                        <input matInput #oss>          
                        <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                    </p>

                    <p>
                    <mat-radio-group aria-label="Was red flags?" #radio>
                        <p>Was red flags?</p>
                        <mat-radio-button #yes value="true">Yes</mat-radio-button>
                        <mat-radio-button #no value="false">No</mat-radio-button>
                      </mat-radio-group>
                    </p>
            
                    <p>
                        <mat-form-field appearance="outline">
                          <mat-label>Qquality stars</mat-label>
                          <input matInput #stars>          
                          <mat-hint>Hint</mat-hint>
                          </mat-form-field>
                      </p> <br><br>

              <button mat-button type="button" (click)="showVendor(
                country.value,
                city.value,
                openClosed.value,
                foodGroup.value,
                oss.value,
                yes, no,
                stars.value
              )">Show vendor</button>
      </div>

      <div class="map_mode" *ngIf="toggle">

      </div>

     </div>
    <!-----------------------INSPECTION FIELD------------------------------------------->   
    <div class="inspection_field">

    </div>
    <div style="clear: both"></div>


  </div>

  <div class="show_vendor" >
    <div class="item" *ngFor="let item of vendorsArray; let i = index" (click)="openModal(template)">

      <strong>Licence number:</strong>{{vendorsArray[i].licenceNumber}} <strong>Name: </strong>{{vendorsArray[i].name}}

      <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Vendor profile</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="vendor_photo"><img src="{{vendorsArray[i].photo}}" alt=""></div><br>
            <p><strong>Name: </strong> {{vendorsArray[i].name}} <button  mat-button class="info_btn">&#9998;</button></p>
            <p><strong>Licence number: </strong> {{vendorsArray[i].licenceNumber}}</p>
            <p><strong>Phone: </strong> {{vendorsArray[i].phone}}</p>
            <p><strong>E-mail: </strong> {{vendorsArray[i].email}}</p>
            <p><strong>Country: </strong> {{vendorsArray[i].country}}</p>
            <p><strong>Food group: </strong> {{vendorsArray[i].foodGroup}}</p>
            <p><strong>OSS: </strong> {{vendorsArray[i].oss}}</p>
          </div>
        </ng-template>

    </div>
    <div style="clear: both"></div>
  </div>
  
</div>
