<div>
<div class="div1">
  <h1>View vendors</h1>

<p><mat-slide-toggle>Switch</mat-slide-toggle></p>

<p>
  <mat-form-field appearance="outline">
  <mat-select placeholder="Country">      
    <mat-option value="option">Country list</mat-option>       
  </mat-select>
  </mat-form-field>  
</p>

<p>
    <mat-form-field appearance="outline">
    <mat-select placeholder="City">      
      <mat-option value="option">City list</mat-option>       
    </mat-select>
    </mat-form-field>  
  </p>
  
  <p>
      <mat-form-field appearance="outline">
      <mat-select placeholder="Open/Closed">      
        <mat-option value="option">Open</mat-option>
        <mat-option value="option">Closed</mat-option>         
      </mat-select>
      </mat-form-field>  
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-select placeholder="Food Group">      
          <mat-option value="option">A</mat-option>
          <mat-option value="option">B</mat-option>  
          <mat-option value="option">C</mat-option>        
        </mat-select>
        </mat-form-field>  
      </p>

      <p>
          <mat-form-field appearance="outline">
            <mat-label>OSS</mat-label>
            <input matInput>          
            <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>

        <br>
          <p>Тут флажки какие-то</p>
        <br>

        <p>
            <mat-form-field appearance="outline">
              <mat-label>no. of quality stars</mat-label>
              <input matInput>          
              <mat-hint>Hint</mat-hint>
              </mat-form-field>
          </p> 

</div>



<div class="div2">
  <h1>Start field inspection</h1>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Operator`s Name (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Inspection date (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>License number</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>vendor`s Name (fetched)</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<br>
<p>Здесь будет фотка вендора (fetched)</p>
<br>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Food group</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>GPS Location</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

<p>question 1</p>
<p>question 2</p>
<p>question 3</p>
<p>question 4</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Overall safety score OSS</mat-label>
    <input matInput>          
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>

</div>

</div>
