<div class="wrapper">

  <app-header></app-header>

  <h1>Record call</h1>
  <div class="form_wrapper">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Operator`s Name </mat-label>
        <input matInput [value]="userName">          
        <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Date of registration" [formControl]="date" #dateVal>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>National ID n. of caller</mat-label>
        <input matInput>          
        <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Scratch card serial no.</mat-label>
        <input matInput>          
        <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <br>
    <button mat-button type="button" (click)="submit(dateVal.value, dateVal)">Submit</button>    
  </div>
</div>